/* 이달의 질문 CARD */
.card-question-body {
  padding: 10px;
}

.card-content{
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; 
  display: -webkit-box;
  height: 40px;
  margin-bottom: 60px;
  overflow: hidden;
}

.card-grid {
  display: flex;
  flex-flow: row wrap;
  margin-left: 200px;
}

.card-item {
  border: none;
  color: #84898C;
  margin: 0 20px 40px 0;
  max-width: 310px;
  min-width: 310px;
  cursor: pointer;
}

.card-item:hover {
  background-color: #f3f3f3;
  transition: color 0.2s;
}

.card-text {
  font-size: 15px;
  font-weight: 500;
  margin-top: 2px;
  text-align: left;
}

.card-title {
  border-bottom: solid 4px #658DC6;
  color: black;
  font-size: 17px;
  font-weight: 600;
  overflow: hidden;
  padding: 5px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* MAIN 1번째 페이지 검색창 */
.form__group {
  position: relative;
  padding-top: 15px;
  margin-top: 100px;
  width: 600px;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #84898C;
  padding: 1px;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: 0.9rem;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 0.9rem;
  color: #9b9b9b;
}

.form__field:focus {
  font-weight: 400;
  border-width: 3px;
  border-image: linear-gradient(to right, #658DC6, #B5C7D3);
  border-image-slice: 1;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 0.85rem;
  color: #658DC6;
  font-weight: 700;
}

/* reset input */
.form__field:required, .form__field:invalid {
  box-shadow: none;
}

.group-container {
  display: flex;
  height: 800px;
  justify-content: center;
}

.group-container-contents {
  width: 1190px;
}

.group-title {
  margin-top: 190px;
  text-align: right;
  padding: 0;
}

.introduction {
  font-size: 15px;
  text-align: left;
  color: black;
  /* white-space: pre; */
  position: relative;
  z-index: 2;
}

.main-container {
  display: flex;
  height: 880px;
  justify-content: center;
}

.main-container-contents {
  padding-top: 150px;
  width: 1190px;
}

.main-info {
  float: left;
  padding: 150px 0 0 25px;
  width: 700px;
}

.main-logo {
  margin-left: 100px;
  padding: 0 25px 0 0;
  width: 390px;
}

.month-solver {
  background-color: #658DC6;
  height: 750px;
}

.month-solver-text {
  margin-top: 40px;
  margin-bottom: 10px;
}

.popular-question {
  background-color: white;
  display: flex;
  height: 600px;
  justify-content: center;
}

.popular-question-contents {
  max-width: 1190px;
  min-width: 1190px;
}

.semi-title {
  float: left;
  font-weight: 800;
  font-size: 30px;
  text-align: left;
}

.small-logo {
  width: 50px;
}

.solver-card-img {
  border-radius: 100%;
  height: 100px;
  margin-bottom: 15px;
  width: 100px;
}

.solver-intro {
  color: white;
  font-size: 16px;
  font-weight: 200;
}

.solver-line-1 {
  display: flex;
  justify-content: center;
}

.solver-line-1 .solver-card-content {
  color: white;
  margin-left: 20px;
  position: relative;
  width: 100px;
  z-index: 2;
}

.solver-line-1 .solver-card-rank {
  color: white;
  font-size: 50px;
  font-weight: 700;
  opacity: 50%;
  width: 50px;
  z-index: 1;
}

.solver-line-2 {
  display: flex;
  justify-content: center;
}

.solver-line-2 .solver-card-content {
  color: white;
  margin-left: 60px;
  position: relative;
  width: 100px;
  z-index: 2;
}

.solver-line-2 .solver-card-rank {
  color: white;
  font-size: 50px;
  font-weight: 700;
  margin-left: 40px;
  opacity: 50%;
  width: 50px;
  z-index: 1;
}

.solver-title {
  color: white;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 0px;
}

.solver-row {
  margin-top: 35px;
}

.title {
  font-size: 35px;
  font-weight: 600;
  text-align: left;
  color: #658DC6;
}


/* 모임 CSS copy */
.page-contain {
  display: flex;
  justify-content: center;
}

.data-card {
  display: block;
  width: 200px;
  height: 350px;
  flex-direction: column;
  overflow: hidden;
  border-radius: 7px;
  text-decoration: none;
  margin: 10px;
  padding: 30px 30px;
  box-shadow: 0 1.5em 2.5em -0.5em rgba(0, 0, 0, 0.1);
  transition: transform 0.45s ease, background 0.45s ease;
}
.data-card h3 {
  color: #2E3C40;
  font-size: 24px;
  font-weight: 600;
  line-height: 1;
  padding-bottom: 7px;
  border-bottom: 2px solid #0F4C81;
  transition: color 0.45s ease, border 0.45s ease;
}
.data-card h4 {
  color: #B5C7D3;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  transition: color 0.45s ease;
}
.data-card p {
  opacity: 0;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.8;
  margin: 0 0 15px;
  transform: translateY(-1em);
  transition: opacity 0.45s ease, transform 0.5s ease;
}
.data-card .link-text {
  bottom: 0;
  color: #0F4C81;
  display: block;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 20px;
  transition: color 0.45s ease;
}
.data-card .link-text svg {
  margin-left: 5px;
  transition: transform 0.6s ease;
}
.data-card .link-text svg path {
  transition: fill 0.45s ease;
}
.data-card:hover {
  background: #0F4C81;
  transform: scale(1.02);
}
.data-card:hover h3 {
  color: #FFFFFF;
  border-bottom-color: #0F4C81;
}
.data-card:hover h4 {
  color: #FFFFFF;
}
.data-card:hover p {
  opacity: 1;
  transform: none;
}
.data-card:hover .link-text {
  color: #FFFFFF;
}
.data-card:hover .link-text svg {
  -webkit-animation: point 1.25s infinite alternate;
          animation: point 1.25s infinite alternate;
}
.data-card:hover .link-text svg path {
  fill: #FFFFFF;
}

@-webkit-keyframes point {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0.125em);
  }
}

@keyframes point {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0.125em);
  }
}
