.dropdown-toggle::after {
  display: none;
}

.dropdown-item:hover {
  background-color: transparent;
}

.dropdown-menu {
  padding: 0;
}

.dropdown-tab {
  color: #0F4C81;
  font-weight: 600;
}

.dropdown-tabs {
  color: #84898c;
  font-size: 16px;
  font-weight: 400;
  padding-top: 5px;
  text-align: center;
  transform: skew(-0.1deg);
  width: 300px;
}

.navbar {
  background-color: white;
  border-bottom: 1px solid #658dc671;
  align-items: center;
  font-family: "NanumSquare", sans-serif;
  font-size: 15px;
  height: 56px;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.navbar-body {
  width: 1190px;
}

.nav-logo {
  color: #658dc6;
  font-weight: 600;
  margin-right: 20px;
  text-decoration: none;
}

.nav-router {
  color: #84898c;
  margin-right: 20px;
  text-decoration: none;
}

.nav-logout {
  color: #84898c;
  margin-right: 20px;
  text-decoration: none;
  cursor: pointer;
}

.no-notification-img {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: auto;
  width: 300px;
}

.notification-dateTime {
  color: #84898c;
  font-size: 12px;
  padding-top: 3px;
  transform: skew(-0.1deg);
}

.notification-explanation {
  color: black;
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  padding: 0px 5px 0px 12px;
  transform: skew(-0.1deg);
}

.notification-highlight {
  display: inline;
  box-shadow: inset 0 -10px 0 #f2d6ae7e; 
}

.notification-item-set:hover {
  background-color: #b5c7d333;
  cursor: pointer;
}

.notification-scroll {
  height: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.notification-title {
  color: #0F4C81;
  font-size: 15px;
  font-weight: 600;
  padding: 15px 15px 0px 12px;
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transform: skew(-0.1deg);
}

.notification-togo-btn {
  background-color: transparent;
  border: transparent;
  color: #658dc6;
  font-size: 14px;
  padding: 1px;
}

.notification-img {
  background-color: #b5c7d3;
  border: 1px solid #b5c7d3;
  border-radius: 20%;
  height: 23px;
  padding: 3px 3px 2px 2px;
  width: 23px;
}

.notification-img:hover {
  background-color: #658dc6;
}

.notification-line {
  color: #B5C7D3;
  height: 0.1px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.notification-scroll::-webkit-scrollbar {
  width: 10px; /*스크롤바의 너비*/
}

.notification-scroll::-webkit-scrollbar-thumb {
  background-color: #B5C7D3; /*스크롤바의 색상*/
  border: 4px solid transparent;
  border-radius: 50px;
}

.notification-scroll::-webkit-scrollbar-track {
  background-color: rgb(245, 245, 245); 
}

.one {
  /* margin-left: 3px; */
  font-size: 14px;
}

.reason {
  border-left: solid 4px #84898c62;
  border-right: solid 4px #84898c62;
  color: #84898c;
  font-size: 14px;
  padding: 5px 7px 0px 15px;
  transform: skew(-0.1deg);
}

.video-button {
  padding: 5px 0px 0px 15px;
  transform: skew(-0.1deg);
}

.video-dropdown-tabs {
  color: #84898c;
  font-size: 16px;
  font-weight: 400;
  padding-top: 5px;
  text-align: center;
  transform: skew(-0.1deg);
  width: 300px;
}

.video-enter {
  margin: auto;
  padding: 5px 15px 0px 15px;
}

.video-enter-button {
  background-color: transparent;
  border: solid 1px #658dc6;
  color: #658dc6;
  font-size: 14px;
  width: 100%;
  transform: skew(-0.1deg);
}

.video-enter-button:hover {
  border: solid 1px #658dc68a;
  background-color: #658dc68a;
  color: white;
  font-weight: 100;
}

.video-notification-datetime {
  color: #0F4C81;
  font-size: 15px;
  font-weight: 600;
}

.video-notification-title {
  padding: 15px 0px 0px 15px;
  transform: skew(-0.1deg);
}

.video-yes-button {
  background-color: transparent;
  border: 1px solid #84898c;
  color: #84898c;
  font-size: 13px;
  width: 45%;
}

.video-yes-button:hover {
  background-color: #dae8fc;
  border: 1px solid #0F4C81;
  color: #0F4C81;
}

.video-no-button {
  background-color: transparent;
  border: 1px solid #84898c;
  color: #84898c;
  font-size: 13px;
  width: 45%;
}

.video-no-button:hover {
  background-color: #84898c31;
  border: 1px solid black;
  color: black
}

.video-notification-item-set:hover {
  background-color: #c2e6ff33;
  cursor: pointer;
}

.video-notification-highlight {
  display: inline;
  font-size: 14px;
  box-shadow: inset 0 -10px 0 #f5b89554; 
}