.metadata/
solver-backend/ssafy-web.log
Servers/
solver-backend/.gradle/
solver-backend/.springBeans
*.gz
solver-backend/.settings/
solver-backend/bin/
solver-backend/.classpath
solver-backend/.project
solver-backend/build/
solver-backend/src/main/generated/
backend/src/main/resources/dist/
solver-backend/src/main/resources/dist/
package-lock.json
solver-kurento/gradle/
solver-kurento/.gitignore
solver-frontend/src/views/conference/ConferenceRoom copy 2.vue
solver-frontend/src/views/conference/ConferenceRoom copy.vue
