.metadata/
solver-backend/ssafy-web.log
Servers/
solver-backend/.gradle/
solver-backend/.springBeans
*.gz
solver-backend/.settings/
solver-backend/bin/
solver-backend/.classpath
solver-backend/.project
solver-backend/build/
solver-backend/src/main/generated/