.berry-point {
  display: flex;
  flex-direction: row;
  text-align: left;
}

.berry-point > div:first-child {
  height: 100%;
  float: 3;
}

.berry-point > div:last-child {
  height: 100%;
  float: 3;
}

.gap-box {
  width: 10px;
}

.in-group {
  display: flex;
  flex-direction: row;
  text-align: left;
}

.in-group > div:first-child {
  height: 100%;
  float: 3;
}

.in-group > div:last-child {
  height: 100%;
  float: 3;
}

.nickname {
  color: #0F4C81;
  font-size: 23px;
  font-weight: 700;
  text-align: left;
}

.profile {
  display: grid;
  grid-template-rows: 300px 600px;
  grid-template-columns: 300px 1090px;
  margin-top: 30px;
}

.profile-img {
  width: 240px;
  height: 240px;
}

.profile-img-section {
  display: inline-block;
  width: 300px;
  height: 300px;
}

.profile-info {
  display: flex;
  flex-direction: row;
  text-align: left;
}

.profile-info > div:first-child {
  flex: 6; /* 공간차지비율 */
  height: 100%;
}
.profile-info > div:last-child {
  flex: 4; /* 공간차지비율 */
  height: 100%;
}

.small-box {
  background-color: #658DC6;
  height: 3px;
  width: 3px;
}

.social-url {
  font-family: 'NanumSquare', sans-serif;
  font-size: 15px;
  text-align: right;
}

.tab-ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

.tab-li {
  display: inline-block;
}

.line {
  background-color: #B5C7D3;
  height: 0.1px;
  margin: 0;
}


.tab-btn {
  border: 2px solid #B5C7D3;
  background-color: white;
  border: transparent;
  color: #658DC6;
  font-size: 17px;
  margin-right: 10px;
  text-transform: uppercase;
  transition: all 0.25s ease-in-out;
  /* width: 95px; */
}
.tab-btn:hover {
  background-color: #658DC6;
  border-color: #658DC6;
  color: #F1F2F2;
}
.tab-btn:active {
  background-color: #658DC6;
  border-color: #658DC6;
  color: #F1F2F2;
  box-shadow: none;
}
.tab-btn:focus, .tab-btn:active:focus {
  background-color: #658DC6;
  border-color: #658DC6;
  color: #F1F2F2;
  outline: 5px auto #658DC6;
}