.info {
  color: #84898C;
  display: flex;
  justify-content: space-between;
}

.info-left {
  text-align: left;
}

.nickname {
  color: #0F4C81;
  font-size: 22px;
  font-weight: 700;
  text-align: left;
}

.point-berry {
  width: 49px;
}

.point-berry-g {
  opacity: 25%;
  width: 49px;
}

.profile {
  font-family: 'NanumSquare', sans-serif;
}

.profile-img {
  width: 220px;
  height: 220px;
}


.social-url {
  font-family: 'NanumSquare', sans-serif; 
  font-size: 12px;
  margin-bottom: 0;
  margin-top: 22px;
  text-align: right;
}


.tab-ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

.tab-li {
  display: inline-block;
}

.line {
  background-color: #B5C7D3;
  height: 0.1px;
  margin: 0;
}


.tab-btn {
  border: 2px solid #B5C7D3;
  background-color: white;
  border: transparent;
  color: #658DC6;
  font-size: 17px;
  margin-right: 10px;
  text-transform: uppercase;
  transition: all 0.25s ease-in-out;
  /* width: 95px; */
}
.tab-btn:hover {
  background-color: #658DC6;
  border-color: #658DC6;
  color: #F1F2F2;
}
.tab-btn:active {
  background-color: #658DC6;
  border-color: #658DC6;
  color: #F1F2F2;
  box-shadow: none;
}
.tab-btn:focus, .tab-btn:active:focus {
  background-color: #658DC6;
  border-color: #658DC6;
  color: #F1F2F2;
  outline: 5px auto #658DC6;
}