* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.box {
  background-color: #658DC6;
  display: inline-block;
  height: 3px;
  width: 3px;
  margin-left: 4px;
  margin-right: 6px;
}

.content-text-b {
  color: black;
  text-align: left;
}

.content-text-g {
  color: #84898C;
  text-align: left;
}

.interval {
  margin-left: 10px;
  margin-right: 10px;
}

.d-inline-block {
  display: inline-block;
}

.font-break {
  transform: skew(-0.03deg);
}

.m-left-1 {
  margin-left: 10px;
}

.m-left-3 {
  margin-left: 30px;
}

.m-left-5 {
  margin-left: 60px;
}

.m-right-3 {
  margin-right: 30px;
}

.m-top-3 {
  margin-top: 20px;
}

.line {
  background-color: #B5C7D3;
  height: 0.1px;
  margin: 0;
}

.point-color-1 {
  color: #A58D7F;
}

.solver-font {
  font-family: 'NanumSquare', sans-serif; 
}

.subheading {
  color: #658DC6;
  font-size: 17px;
  font-weight: 600;
  text-align: left;
}
